html {
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  margin: 0px;
}

.appTitle {
  color: white;
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
